<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='base.css' type='text/css'/>
<title> {% page.title %} </title>
</head>
<body>
<div class="panel">
    <h1><a href="index.html" class="plain">Pyxie</a></h1>
</div>
<div class="panel">
    <div class="column col1_5">
    {% site.sidebar %}
    </div>
    <div class="column col4_5">
    {% page.body %}
    <br style="clear: both"><hr>
    Updated: {% page.updated %}
    </div>
</div>
<div class="columnpanel lightgrey_darkgrey topsolid">
 <div class="panel centred-text">
<a href="resources.html"> Help, Contacts &amp; Downloads </a> <br>
<div class="smaller">
Copyright &copy; 2016 Michael Sparks <a href="copyright.html"> Open Source</a>
</div>
 </div>
</div>
</body>
</html>
